<fieldset>
  <legend>{{ text_panel_heading_api }}</legend>
  <div class="row mb-3">
    <label for="input-api-key" class="col-sm-2 col-form-label">{{ entry_api_key }}</label>
    <div class="col-sm-10">
        <input type="text" name="payment_{{ instance }}_api_key" value="{{ settings.api_key }}" placeholder="{{ entry_api_key }}" id="input-api-key" class="form-control"/>
    </div>
  </div>
  <div class="row mb-3">
    <label for="input-private-key" class="col-sm-2 col-form-label">{{ entry_private_key }}</label>
    <div class="col-sm-10">
        <input type="text" name="payment_{{ instance }}_private_key" value="{{ settings.private_key }}" placeholder="{{ entry_private_key }}" id="input-private-key" class="form-control"/>
    </div>
  </div>
</fieldset>