<legend>{{ text_panel_heading_gateway }}</legend>
<div class="row mb-3">
  <label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
  <div class="col-sm-10">
    <select name="payment_{{ instance }}_status" id="input-status" class="form-select">
      <option value="1"{% if settings.status %} selected="selected"{% endif %}>{{ text_enabled }}</option>
      <option value="0"{% if not settings.status %} selected="selected"{% endif %}>{{ text_disabled }}</option>
    </select>
  </div>
</div>