<fieldset>
  <legend>{{ text_panel_heading_others }}</legend>
  <div class="row mb-3">
    <label for="input-total" class="col-sm-2 col-form-label">{{ entry_total }}</label>
    <div class="col-sm-10">
        <input type="text" name="payment_{{ instance }}_total" value="{{ settings.total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control" />
        <div class="form-text">{{ help_total }}</div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="input-order-status" class="col-sm-2 col-form-label">{{ entry_order_status }}</label>
    <div class="col-sm-10">
      <select name="payment_{{ instance }}_order_status_id" id="input-order-status" class="form-select">
        {% for order_status in order_statuses %}
          <option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id == settings.order_status_id %} selected="selected"{% endif %}>{{ order_status.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="row mb-3">
    <label for="input-geo-zone" class="col-sm-2 col-form-label">{{ entry_geo_zone }}</label>
    <div class="col-sm-10">
      <select name="payment_{{ instance }}_geo_zone_id" id="input-geo-zone" class="form-select">
        <option value="0">{{ text_all_zones }}</option>
        {% for geo_zone in geo_zones %}
          <option value="{{ geo_zone.geo_zone_id }}"{% if geo_zone.geo_zone_id == settings.geo_zone_id %} selected="selected"{% endif %}>{{ geo_zone.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="row mb-3">
    <label for="input-test" class="col-sm-2 col-form-label">{{ entry_test }}</label>
    <div class="col-sm-10">
      <select name="payment_{{ instance }}_test" id="input-test" class="form-select">
        <option value="1"{% if settings.test == 'sandbox' %} selected="selected"{% endif %}>{{ text_enabled }}</option>
        <option value="0"{% if settings.test == 'live' %} selected="selected"{% endif %}>{{ text_disabled }}</option>
      </select>
      <div class="form-text">{{ help_test }}</div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="input-sort-order" class="col-sm-2 col-form-label">{{ entry_sort_order }}</label>
    <div class="col-sm-10">
        <input type="text" name="payment_{{ instance }}_sort_order" value="{{ settings.sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
    </div>
  </div>
</fieldset>